{% extends "base.html" %}

{% block map %}
    const deckgl = new deck.DeckGL({
        mapboxApiAccessToken: MAPBOX_ACCESS_TOKEN,
        pickable: true,
        container: 'container',
        longitude: 126.986,
        latitude: 37.541,
        zoom: 5,
        layers: [
        new deck.ArcLayer({
            data: a,
            // Styles
            getSourcePosition: d => d.from.coordinates,
            getTargetPosition: d => d.to.coordinates,
            getSourceColor: [0, 128, 200],
            getTargetColor: [200, 0, 80],
            getWidth: 3
        })
        ]
    });

{% endblock map %}