{% include 'main.html' %}

{% block javascript %}
    //const MAPBOX_ACCESS_TOKEN = 'pk.eyJ1IjoiaGV1bXNpIiwiYSI6ImNqYng3ZW0xYTJsZHQycXBhM2F1bm9yMXIifQ.kV_zhG36r5EIXXT__LzlCw'
    const MAPBOX_ACCESS_TOKEN = '{{ accessToken }}'

    /*
    a = [{
        from: {
            name: '19th St. Oakland (19TH)',
            coordinates: [126.9086032, 37.17407153]
        },
        to: {
            name: '12th St. Oakland City Center (12TH)',
            coordinates: [126.986, 37.541]
        }
        },
        {
        from: {
            name: '19th St. Oakland (19TH)',
            coordinates: [126.9086032, 37.17407153]
        },
        to: {
            name: '12th St. Oakland City Center (12TH)',
            coordinates: [129.0756416000000, 35.1795543]
        }
        }
    ]
    */

    {% block map %}{% endblock map %}

{% endblock javascript %}