new deck.ArcLayer({
    // ArcLayer Added.
    'widthUnits': {{ widthUnits }},
    'widthScale': {{ widthScale }},
    'widthMinPixels': {{ widthMinPixels }},
    'widthMaxPixels': {{ widthMaxPixels }},
    'getSourcePosition': {{ getSourcePosition }},
    'getTargetPosition': {{ getTargetPosition }},
    'getSourceColor': {{ getSourceColor }},
    'getTargetColor': {{ getTargetColor }},
    'getWidth': {{ getWidth }},
    'getHeight': {{ getHeight }},
    'getTilt': {{ getTilt }},
    
    // MapLayer (inherited)
    'data' : {{ data }},
    'id' : {{ id }},
    'visible' : {{ visible }},
    'opacity' : {{ opacity }},
    'pickable' : {{ pickable }},
    'onHover': info => setTooltip(info.object, info.x, info.y, {{ tooltip }}),
    //'onClick' : {{ onClick }},
    //'onDragStart' : {{ onDragStart }},
    //'onDrag' : {{ onDrag }},
    //'onDragEnd' : {{ onDragEnd }},
    'highlightColor' : {{ highlightColor }}, 
    'highlightedObjectIndex' : {{ highlightedObjectIndex }},
    'autoHighlight' : {{ autoHighlight }}
})

