new deck.CPUGridLayer({
    id: {{ id }},
    gpuAggregation: {{ gpuAggregation }},
    data: {{ data }},
    extruded: {{ extruded }},
    cellSize: {{ cellSize }},
    elevationScale: {{ elevationScale }},
    getPosition: d => d.coordinates,

    // MapLayer (inherited)
    'data' : {{ data }},
    'id' : {{ id }},
    'visible' : {{ visible }},
    'opacity' : {{ opacity }},
    'pickable' : {{ pickable }},
    'onHover': info => setTooltip(info.object, info.x, info.y, {{ tooltip }}),
    'onClick' : {{ onClick }},
    'onDragStart' : {{ onDragStart }},
    'onDrag' : {{ onDrag }},
    'onDragEnd' : {{ onDragEnd }},
    'highlightColor' : {{ highlightColor }}, 
    'highlightedObjectIndex' : {{ highlightedObjectIndex }},
    'autoHighlight' : {{ autoHighlight }}
})