{% extends "layer.html" %}
{% block layer %}
    
    layers: [
        new deck.GPUGridLayer({
            'id': 'GPUGridLayer',
            'data': {{ data }},
            // Styles
            'cellSize': {{ cellSize }},
            'colorRange': {{ colorRange }},
            'coverage': {{ coverage }},
            'elevationDomain': {{ elevationDomain }},
            'elevationRange': {{ elevationRange }},
            'elevationScale': {{ elevationScale }},
            'extruded': {{ extruded }},
            'fp64': {{ fp64 }},
            'gpuAggregation': {{ gpuAggregation }},
            'getPosition': {{ getPosition }}
            'getColorWeight': {{ getColorWeight }},
            'colorAggregation': {{ colorAggregation }},
            'getElevationWeight': {{ getElevationWeight }},
            'elevationAggregation': {{ elevationAggregation }},
            'onHover': ({object, x, y}) => {
                const tooltip = {{ tooltip }}
            }
        })
    ]
    
{% endblock layer %}