new deck.GridLayer({
    cellSize: {{ cellSize }},
    //to be updated. colorDomain: {{ colorDomain }},
    colorRange: {{ colorRange }},
    coverage: {{ coverage }},
    //to be updated. elevationDomain: {{ elevationDomain }},
    elevationRange: {{ elevationRange }},
    elevationScale: {{ elevationScale }},
    extruded: {{ extruded }},
    upperPercentile: {{ upperPercentile }},
    lowerPercentile: {{ lowerPercentile }},
    elevationUpperPercentile: {{ elevationUpperPercentile }},
    elevationLowerPercentile: {{ elevationLowerPercentile }},
    //not supported. material: {{ material }}, 
    getPosition: {{ getPosition }},
    getColorValue: {{ getColorValue }},
    getColorWeight: {{ getColorWeight }},
    colorAggregation: {{ colorAggregation }},
    getElevationValue: {{ getElevationValue }},
    getElevationWeight: {{ getElevationWeight }},
    elevationAggregation: {{ elevationAggregation }},
    onSetColorDomain: {{ onSetColorDomain }},
    onSetElevationDomain: {{ onSetElevationDomain }},

    // MapLayer (inherited)
    'data' : {{ data }},
    'id' : {{ id }},
    'visible' : {{ visible }},
    'opacity' : {{ opacity }},
    'pickable' : {{ pickable }},
    'onHover': info => setTooltip(info.object, info.x, info.y, {{ tooltip }}),
    'onClick' : {{ onClick }},
    'onDragStart' : {{ onDragStart }},
    'onDrag' : {{ onDrag }},
    'onDragEnd' : {{ onDragEnd }},
    'highlightColor' : {{ highlightColor }}, 
    'highlightedObjectIndex' : {{ highlightedObjectIndex }},
    'autoHighlight' : {{ autoHighlight }}
})