new deck.GridCellLayer({
    // GridCellLayer Added.
    extruded: {{ extruded }},
    cellSize: {{ cellSize }},
    coverage: {{ coverage }},
    elevationScale: {{ elevationScale }},
    getPosition: {{ getPosition }},
    getColor: {{ getColor }},
    getElevation: {{ getElevation }},

    // MapLayer (inherited)
    'data' : {{ data }},
    'id' : {{ id }},
    'visible' : {{ visible }},
    'opacity' : {{ opacity }},
    'pickable' : {{ pickable }},
    'onHover': info => setTooltip(info.object, info.x, info.y, {{ tooltip }}),
    'onClick' : {{ onClick }},
    'onDragStart' : {{ onDragStart }},
    'onDrag' : {{ onDrag }},
    'onDragEnd' : {{ onDragEnd }},
    'highlightColor' : {{ highlightColor }}, 
    'highlightedObjectIndex' : {{ highlightedObjectIndex }},
    'autoHighlight' : {{ autoHighlight }}
})