new deck.ScatterplotLayer({
    // ScatterplotLayer Added.
    'radiusScale': {{ radiusScale }},
    'lineWidthUnits': {{ lineWidthUnits }},
    'lineWdithScale': {{ lineWdithScale }},
    'stroked': {{ stroked }},
    'filled': {{ filled }},
    'radiusMinPixels': {{ radiusMinPixels }},
    'radiusMaxPixels': {{ radiusMaxPixels }},
    'lineWidthMinPixels': {{ lineWidthMinPixels }},
    'lineWidthMaxPixels': {{ lineWidthMaxPixels }},
    'getPosition': {{ getPosition }},
    'getRadius': {{ getRadius }},
    'getColor': {{ getColor }},
    'getFillColor': {{ getFillColor }},
    'getLineColor': {{ getLineColor }},
    'getLineWidth': {{ getLineWidth }},

    // MapLayer (inherited)
    'data' : {{ data }},
    'id' : {{ id }},
    'visible' : {{ visible }},
    'opacity' : {{ opacity }},
    'pickable' : {{ pickable }},
    'onHover': ({object, x, y}) => {
        const tooltip = {{ tooltip }}
    },
    'onClick' : {{ onClick }},
    'onDragStart' : {{ onDragStart }},
    'onDrag' : {{ onDrag }},
    'onDragEnd' : {{ onDragEnd }},
    'highlightColor' : {{ highlightColor }}, 
    'highlightedObjectIndex' : {{ highlightedObjectIndex }},
    'autoHighlight' : {{ autoHighlight }}
})

