new deck.TripsLayer({
    // TripsLayer Added.
    'trailLength': {{ trailLength }},
    'currentTime': {{ currentTime }},

    // PathLayer (inherited)
    'widthScale': {{ widthScale }},
    'widthMinPixels': {{ widthMinPixels }},
    'widthMaxPixels': {{ widthMaxPixels }},
    'rounded': {{ rounded }},
    'billboard': {{ billboard }},
    'miterLimit': {{ miterLimit }},
    'dashJustified': {{ dashJustified }},

    'getPath': {{ getPath }},
    'getColor': {{ getColor }},
    'getWidth': {{ getWidth }},

    // MapLayer (inherited)
    'data' : {{ data }},
    'id' : {{ id }},
    'visible' : {{ visible }},
    'opacity' : {{ opacity }},
    'pickable' : {{ pickable }},
    'onHover': ({object, x, y}) => {
        const tooltip = {{ tooltip }}
    },
    //'onClick' : {{ onClick }},
    //'onDragStart' : {{ onDragStart }},
    //'onDrag' : {{ onDrag }},
    //'onDragEnd' : {{ onDragEnd }},
    'highlightColor' : {{ highlightColor }},
    'highlightedObjectIndex' : {{ highlightedObjectIndex }},
    'autoHighlight' : {{ autoHighlight }}
})